In [1]:
import MySQLdb as sql

In [2]:
db=sql.connect(host="localhost",
              port=3306,
              user="root",
              password="",
              database="summer_intern")

In [3]:
cur=db.cursor()

In [4]:
cmd='show tables;'

In [5]:
cur.execute(cmd)

1

In [6]:
data=cur.fetchone()
print(data)

('student',)

In [7]:
cmd="select * from student"
cur.execute(cmd)

3

In [9]:
data=cur.fetchall()

In [28]:
print(data)

((3,), (2,), (1,))

In [13]:
cmd="select roll_num from student order by roll_num desc"
cur.execute(cmd)

3

In [14]:
data=cur.fetchall()

In [15]:
data[0][0]

3

In [17]:
cmd="select roll_num from student order by roll_num desc"
cur.execute(cmd)
last_roll = cur.fetchall()[0][0]
roll_num = last_roll+1
name = input("Enter your name : ")
fees = float(input("Enter fees : "))
course = input("Enter course : ")
cmd =f"""insert into student(roll_num,name,fees,course) values ({roll_num},'{name}',{fees},'{course}')"""
cur.execute(cmd)

Enter your name : zoya
Enter fees : 12563
Enter course : sql

1

In [18]:
db.commit()

In [19]:
cur.close()

In [20]:
db.close()