# Sets in Python
### Set is a collection of unquie objects
### Set supports set theory operation such intersection, union, ...
### Set is mutable but objects in set must be im-mutable
### Set is unordered Data Type

In [1]:
s = { 1,2,3,1,1,1,1,1,1,2,2,2,2,1,1,1,1}

In [2]:
s

{1, 2, 3}

In [3]:
print(type(s))

<class 'set'>

In [4]:
s = { [1,2,3],1,2,3}

TypeError: unhashable type: 'list'

In [5]:
s = { (1,2,3), 1,2,3,4}

In [6]:
s

{(1, 2, 3), 1, 2, 3, 4}

In [7]:
s  = set('aaaaaabaaaaaaacaaaaaaaaaaaadaaaaaaeaaaa')
print(s)

{'d', 'c', 'b', 'e', 'a'}

In [8]:
l = [ 1,2,3,1,2,3,4,1,2,4,5]
l1 = list(set(l))
print(l)
print(l1)

[1, 2, 3, 1, 2, 3, 4, 1, 2, 4, 5]
[1, 2, 3, 4, 5]

In [9]:
s = { 1,2,3}

In [11]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [12]:
s1 = { 1,2,3,4}
s2 = { 3,4,5,6}

In [13]:
s1.isdisjoint(s2)

False

In [14]:
s1.issubset(s2)

False

In [18]:
s1 = { 4,5,6}
s2 = { 1,2,3}
s2.issubset(s1)

False

In [19]:
s1.isdisjoint(s2)

True

In [20]:
hindi = { 'abhishek','sunil','nitin','sachin',}
english = { 'sachin','rahul','samyak','sunil',}

In [21]:
hindi.intersection(english)

{'sachin', 'sunil'}

In [22]:
hindi.difference(english)

{'abhishek', 'nitin'}

In [23]:
english.difference(hindi)

{'rahul', 'samyak'}

In [24]:
total = hindi.union(english)

In [25]:
total

{'abhishek', 'nitin', 'rahul', 'sachin', 'samyak', 'sunil'}

In [26]:
hindi

{'abhishek', 'nitin', 'sachin', 'sunil'}

In [27]:
hindi.add("rajat")

In [28]:
hindi

{'abhishek', 'nitin', 'rajat', 'sachin', 'sunil'}

In [29]:
hindi.pop()

'sunil'

## forzen set

In [31]:
s1 = frozenset([1,1,1,1,1,2,2,2,3,3,4])

In [34]:
 s1

frozenset({1, 2, 3, 4})

In [33]:
s1.intersection(s2)

frozenset({1, 2, 3})

In [37]:
cricket =frozenset( { 
'vishnu','sunil','samyak','sachin','rahul'
})
pubg = frozenset({ 'nitin','rahul','anish'})

In [38]:
from random import randint 
s1=frozenset([randint(1,50) for var in range(50)])
s2=frozenset([randint(1,25) for var in range(50)])

In [40]:
print(s1)

frozenset({2, 3, 6, 7, 8, 9, 10, 11, 16, 19, 20, 21, 22, 25, 26, 28, 30, 31, 38, 39, 41, 42, 44, 46, 47, 48, 50})

In [41]:
print(s2)

frozenset({1, 2, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25})

In [42]:
s1.intersection(s2)

frozenset({2, 3, 6, 7, 8, 9, 11, 16, 19, 20, 22, 25})

In [43]:
s1.difference(s2)

frozenset({10, 21, 26, 28, 30, 31, 38, 39, 41, 42, 44, 46, 47, 48, 50})

In [44]:
s1.issuperset(s2)

False