In [1]:
import pandas as pd

In [3]:
alphabate=['a','b','c','d','e','f','g','h','i','j','k','l']
pd.Series(alphabate)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
dtype: object

In [4]:
number=[1,2,3,4,5,6,7,8,9,0]
pd.Series(number)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [5]:
boolean=[True,False,True,False,False]
pd.Series(boolean)

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [7]:
alphabate=['a','b','c','d','e','f','g','h','i','j','k','l']
s=pd.Series(alphabate)
s

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
dtype: object

In [8]:
s.index

RangeIndex(start=0, stop=12, step=1)

In [10]:
s.values

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l'],
      dtype=object)

In [11]:
s.dtype

dtype('O')

In [12]:
s.size

12

In [13]:
number=[1,2,3,4,5,6,7,8,9,0]
p=pd.Series(number)
p

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [15]:
p.sum()

45

In [16]:
p.mean()

4.5

In [17]:
p.median()

4.5

In [21]:
p.size

10

In [22]:
p.product()

0

In [25]:
name=['abhi','babu','chintu','dev','golu']
age=[20,21,22,23,24]
pd.Series(name,age)
pd.Series(data=name,index=age)

20      abhi
21      babu
22    chintu
23       dev
24      golu
dtype: object

In [35]:
import pandas as pd
fi=pd.read_csv("fifa.csv",squeeze=True,usecols=['id'])

In [36]:
fi.head()

0      1001
1    100143
2    100264
3    100325
4    100326
Name: id, dtype: int64

In [37]:
fi.head(11)

0       1001
1     100143
2     100264
3     100325
4     100326
5     100329
6     100330
7     100391
8     100521
9     100522
10    100557
Name: id, dtype: int64

In [38]:
fi.tail()

8842    9801
8843    9805
8844    9807
8845    9815
8846    9913
Name: id, dtype: int64

In [39]:
fi.tail(11)

8836    9676
8837    9722
8838    9723
8839    9751
8840    9771
8841    9799
8842    9801
8843    9805
8844    9807
8845    9815
8846    9913
Name: id, dtype: int64

In [41]:
fi.size

8847

In [42]:
fi.shape

(8847,)

In [43]:
fi.values

array([  1001, 100143, 100264, ...,   9807,   9815,   9913], dtype=int64)

In [48]:
fi.index

RangeIndex(start=0, stop=8847, step=1)

In [50]:
fi.dtype

dtype('int64')

In [52]:
fi.is_unique

True

In [53]:
fi.name

'id'

In [54]:
fi.name="id_no."
fi.head()

0      1001
1    100143
2    100264
3    100325
4    100326
Name: id_no., dtype: int64