In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df=pd.read_csv('fifa.csv')

In [8]:
col=list(df.columns)
print(col)

['id', ' name', ' rating', ' position', ' height', ' foot', ' rare', ' pace', ' shooting', ' passing', ' dribbling', ' defending', ' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed', ' positioning']

In [10]:
df.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN

In [11]:
df.index

RangeIndex(start=0, stop=8847, step=1)

In [12]:
df.values

array([[1001, ' Gábor Király', 69, ..., ' 74', ' 35', 66.0],
       [100143, ' Frederik Boi', 65, ..., ' ', ' ', nan],
       [100264, ' Tomasz Szewczuk', 57, ..., ' ', ' ', nan],
       ...,
       [9807, ' Michel Breuer', 68, ..., ' ', ' ', nan],
       [9815, ' Gill Swerts', 65, ..., ' ', ' ', nan],
       [9913, ' Mehdi Nafti', 69, ..., ' ', ' ', nan]], dtype=object)